body, .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  border-bottom: 1px solid #ddd;
}

.content {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: #f1f1f1;
  overflow-y: auto;
  .products {
    .products-list {
      .product-item {
        img { float: left }
        .info {
          float: right;
          p { margin-bottom: 0; }
          .name {
            font-size: 1.6rem;
            font-weight: 600;
          }
          .price {
            float: right;
          }
        }
        .add-button {
          position: absolute;
          bottom: 10px;
          right: 15px;
        }
        aside {
          position: absolute;
          left: 15px;
          bottom: 10px;
        }
      }
    }
  }
  .shoppingcart {

  }
}

.list-group {
  .list-group-item {
    height: 160px;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px #ddd;
    -moz-box-shadow: 1px 1px 1px #ddd;
    box-shadow: 1px 1px 1px #ddd;
    .image {
      height: 90px;
    }
  }
}
