button {
  outline: none !important; }

.message {
  position: absolute;
  top: 56px;
  z-index: 9999;
  left: 0;
  right: 0; }

body, .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

.btn-primary {
  background-color: #00A297;
  border: none; }
  .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active.focus, .btn-primary.active.focus {
    border: none;
    background-color: #007169; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  border-bottom: 1px solid #ddd; }
  .header .title {
    position: absolute;
    top: 11px;
    left: 20px;
    font-size: 2rem;
    color: #00A297; }
  .header .back-button {
    vertical-align: middle;
    padding: 0 12px 0 0;
    text-decoration: none;
    cursor: pointer;
    color: #414141; }
    .header .back-button:hover {
      color: #00A297; }
  .header .cart {
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer; }
    .header .cart a {
      color: #414141;
      font-weight: 600; }
    .header .cart .badge {
      background-color: #00A297; }
    .header .cart a:hover {
      text-decoration: none !important; }

.content {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: #f1f1f1;
  overflow-y: auto; }
  .content .products .products-list .product-item {
    height: 160px; }
    .content .products .products-list .product-item img {
      float: left; }
    .content .products .products-list .product-item .info {
      float: right;
      max-width: 50%; }
      .content .products .products-list .product-item .info p {
        margin-bottom: 0; }
      .content .products .products-list .product-item .info .name {
        font-size: 1.4rem;
        font-weight: 600; }
      .content .products .products-list .product-item .info .price {
        float: right; }
    .content .products .products-list .product-item .add-button {
      position: absolute;
      bottom: 10px;
      right: 15px; }
    .content .products .products-list .product-item .controls {
      position: absolute;
      left: 15px;
      bottom: 0; }
      .content .products .products-list .product-item .controls button {
        float: left; }
      .content .products .products-list .product-item .controls .quatity {
        text-align: center;
        margin: 0 8px;
        float: left; }
        .content .products .products-list .product-item .controls .quatity .number {
          margin: 0 5px;
          font-size: 1.8rem; }
        .content .products .products-list .product-item .controls .quatity .controls-label {
          font-size: 1.1rem;
          vertical-align: bottom; }
  .content .shoppingcart .total {
    text-align: right; }
    .content .shoppingcart .total .total-label {
      font-size: 1.8rem;
      color: #414141; }
  .content .shoppingcart .shoppingcart-list .shoppingcart-list-item .remove-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: #414141;
    padding: 10px; }
    .content .shoppingcart .shoppingcart-list .shoppingcart-list-item .remove-button:hover {
      color: #00A297; }

.list-group .list-group-item {
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 1px #ddd;
  -moz-box-shadow: 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px #ddd; }
  .list-group .list-group-item .image {
    height: 90px;
    max-width: 50%; }

/*# sourceMappingURL=app.css.map */
