<div ng-init="initHeaderController()" class="header-container">
  <div class="title">
    <a ng-href="" class="back-button" ng-click="back()" ng-if="headerViewControl.showBackButton">
      <i class="glyphicon glyphicon-menu-left"></i>
    </a>
    <span>{{headerViewControl.title | soGoToLang}}</span>
  </div>
  <section ng-if="!headerViewControl.showBackButton" class="cart pull-right">
    <a ng-href="" ng-click="showCartItems()">{{::'CART' | soGoToLang}} <span class="badge">{{headerViewControl.amount}}</span></a>
  </section>
</div>